body {
    background-color: #232323;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    border: none;
    background: none;
    color: steelblue;
    font-size: inherit;
    font-weight: 700;
    height: 100%;
    letter-spacing: 1px;
    outline: none;
    text-transform: uppercase;
    transition: all 0.3s;
    --webkit-transition: all 0.3s;
    --moz-transition: all 0.3s;
}

button:hover {
    color: white;
    background-color: steelblue;
}

h1 {
    background-color: steelblue;
    color: white;
    font-weight: 400;
    line-height: 1.1;
    padding: 20px 0;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    margin: 0;
}

#colorDisplay {
    font-size: 150%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

#space {
    display: inline-block;
    width: 5%;
}

#status {
    color: white;
    display: table;
    font-weight: 700;
    height: 50px;
    text-align: center;
    width: 100%;
}

#status span {
    display: table-cell;
    letter-spacing: 1.5px;
    vertical-align: middle;
}

#stripe {
    background-color: white;
    height: 50px;
    text-align: center;
}

.selected {
    color: white;
    background-color: steelblue;
}

.square {
    border-radius: 15%;
    float: left;
    margin: 1.66%;
    padding-bottom: 30%;
    transition: background-color 0.6s;
    --webkit-transition: background-color 0.6s;
    --moz-transition: background-color 0.6s;
    width: 30%;
}
